/* Toolbar container for the countdown */
.raid-timer-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #0c0c0c;
  margin-bottom: 5px;
  max-height: 40px;
  
}

/* Left side of the toolbar for the countdown text */
.raid-timer-left {
  flex-grow: 1;
}

/* Right side of the toolbar for raid boss images */
.raid-timer-right {
  display: flex;
}

/* Style for each raid boss image */
.raid-boss-image {
  width: 60px;
height: 40px;
  object-fit: fill;
  transition: transform 0.3s ease;
}

.raid-boss-image:hover {
  transform: scale(1.1); /* Slight zoom on hover */
}

/* Style for the text inside the countdown */
.raid-timer-text {
  font-weight: 600; /* Make the text bold */
  letter-spacing: 0.5px;
}

/* When raiding, show a subtle glow effect */
.raiding-active {
  color: #E74C3C; /* Red color when active */
  box-shadow: 0 0 8px limegreen; /* Glowing red shadow when raiding */
}

/* Add a subtle transition effect for state changes */
.raid-timer-toolbar h2 {
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}
