/* RaidCountdown Container */
.raid-timer-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;/* Limit the width to 200px */
  height: auto;  /* Adjust height as needed */
  border-radius: 5px;
}

/* Left Section (Time Remaining or Raiding Status) */
.raid-timer-left {
  flex: 1;
  text-align: center;
  font-size: 10px;
  color: #fff; /* White text */
}

/* Right Section (Raid Bosses Images) */
.raid-timer-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Raid Boss Images */
.raid-boss-image {
  width: 80px;
  height: 40px;
  margin-left: 5px;
  border-radius: 50%;  /* Circular images for bosses */
  object-fit: fill;  /* Ensures image fits inside the circle */
}

/* Raiding Active Status Text */
.raiding-active {
  color: #00ff00;  /* Green color when raiding is active */
}
@media (max-width: 768px) {
  .raid-timer-toolbar {
    font-size: 10px;
  }
  .raid-timer-left {
    flex: 1;
    text-align: center;
    font-size:9px;
    color: #fff; /* White text */
  }
  
  .raid-boss-image {
    width: 40px;
    height: 20px;
    margin-left: 10px;

  }
}
